<a href="https://colab.research.google.com/github/julianovale/simulacao_python/blob/master/0002_compartilhamento_bicicletas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Simulando compartilhamento de bicicletas

## Instalando bibliotecas necessárias

In [20]:
! pip install modsimpy

Requirement already satisfied: modsimpy in /usr/local/lib/python3.6/dist-packages (1.1.3)

In [21]:
! pip install pint

Requirement already satisfied: pint in /usr/local/lib/python3.6/dist-packages (0.13)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from pint) (47.3.1)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from pint) (1.6.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from pint) (20.4)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->pint) (3.1.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from packaging->pint) (1.12.0)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from packaging->pint) (2.4.7)

## Estado inicial

In [22]:
bikeshare = State(olin = 10, wellesley = 2)

In [23]:
bikeshare.olin

10

In [24]:
bikeshare.wellesley

2

In [25]:
bikeshare

olin         10
wellesley     2
dtype: int64

## Assumindo novos valores

In [26]:
bikeshare.olin = 9
bikeshare.wellesley = 3

In [27]:
bikeshare

olin         9
wellesley    3
dtype: int64

## Atualizando valores

In [28]:
bikeshare.olin -= 1
bikeshare.wellesley += 1

In [29]:
bikeshare

olin         8
wellesley    4
dtype: int64

## Criando função para atualizar valores

In [30]:
def bike_to_wellesley():
  bikeshare.olin -= 1
  bikeshare.wellesley += 1

In [31]:
def bike_to_olin():
  bikeshare.wellesley -= 1
  bikeshare.olin += 1

In [33]:
bike_to_wellesley()
bikeshare

olin         7
wellesley    5
dtype: int64

In [34]:
bike_to_olin()
bikeshare

olin         8
wellesley    4
dtype: int64

## Imprimindo valores

In [35]:

bikeshare.wellesley
bikeshare.olin
# se eu rodar esses comandos os dois serão rodados, mas será exibido só o valor do último, então, usando o print(), isso se resolve

8

In [36]:
print(bikeshare.wellesley)
print(bikeshare.olin)

4
8

In [37]:
print(bikeshare.wellesley, bikeshare.olin)

4 8

In [38]:
def bike_to_wellesley():
  print('movendo uma bike para Wellesley')
  bikeshare.olin -= 1
  bikeshare.wellesley += 1

In [39]:
def bike_to_olin():
  print('movendo uma bike para Olin')
  bikeshare.wellesley -= 1
  bikeshare.olin += 1

In [40]:
bike_to_olin()

movendo uma bike para Olin

In [41]:
bike_to_wellesley()

movendo uma bike para Wellesley

In [42]:
bikeshare

olin         8
wellesley    4
dtype: int64