<a href="https://colab.research.google.com/github/julianovale/simulacao_python/blob/master/0002_compartilhamento_bicicletas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Simulando compartilhamento de bicicletas

Caso:

Há um bicicletário em cada universidade (Olin e Wellesley), cada um com capacidade para 12 biclicetas. Há, no total, 12 bicicletas compartilhadas entre as universidades.

A cada 2 minutos, um estudante toma uma bicicleta em Olin e vai para Wellesley. A cada 3 minutos, um estudante toma uma bicileta em Wellesley e vai para Olin.

Vamos simular os dois bicicletários e o movimento de bikes entre eles.

## Instalando e importando as bibliotecas necessárias

In [1]:
! pip install modsimpy

Collecting modsimpy
  Downloading https://files.pythonhosted.org/packages/ee/ef/c170df0ee5311cda90a10fc71d1610b9a1cb2241fadbf04bf0f57ff161e9/modsimpy-1.1.3.tar.gz
Building wheels for collected packages: modsimpy
  Building wheel for modsimpy (setup.py) ... done
  Created wheel for modsimpy: filename=modsimpy-1.1.3-cp36-none-any.whl size=20356 sha256=12c7d0e1c411c0054b7c14b3f96f9bc0fdc44799634b04527f03012f04ab658e
  Stored in directory: /root/.cache/pip/wheels/59/34/ac/e82f103fbfb5d961b1a4d2b8e89bb6629a4c0b242e5373cbfa
Successfully built modsimpy
Installing collected packages: modsimpy
Successfully installed modsimpy-1.1.3

In [2]:
! pip install pint

Collecting pint
  Downloading https://files.pythonhosted.org/packages/05/2c/b8ca40ffa28795c9869cdc6cd3de5d34372329c095f34943c6622476e926/Pint-0.13-py2.py3-none-any.whl (196kB)
     |████████████████████████████████| 204kB 2.8MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from pint) (20.4)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from pint) (47.3.1)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from pint) (1.6.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from packaging->pint) (1.12.0)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from packaging->pint) (2.4.7)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->pint) (3.1.0)
Installing collected packages: pint
Successfully installed pint-0.13

In [4]:
from modsim import *

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

## Estado inicial

In [5]:
bikeshare = State(olin = 10, wellesley = 2)

In [6]:
bikeshare.olin

10

In [7]:
bikeshare.wellesley

2

In [8]:
bikeshare

olin         10
wellesley     2
dtype: int64

## Assumindo novos valores

In [9]:
bikeshare.olin = 9
bikeshare.wellesley = 3

In [10]:
bikeshare

olin         9
wellesley    3
dtype: int64

## Atualizando valores

In [11]:
bikeshare.olin -= 1
bikeshare.wellesley += 1

In [12]:
bikeshare

olin         8
wellesley    4
dtype: int64

## Criando função para atualizar valores

In [13]:
def bike_to_wellesley():
  bikeshare.olin -= 1
  bikeshare.wellesley += 1

In [14]:
def bike_to_olin():
  bikeshare.wellesley -= 1
  bikeshare.olin += 1

In [15]:
bike_to_wellesley()
bikeshare

olin         7
wellesley    5
dtype: int64

In [16]:
bike_to_olin()
bikeshare

olin         8
wellesley    4
dtype: int64

## Imprimindo valores

In [17]:

bikeshare.wellesley
bikeshare.olin
# se eu rodar esses comandos os dois serão rodados, mas será exibido só o valor do último, então, usando o print(), isso se resolve

8

In [18]:
print(bikeshare.wellesley)
print(bikeshare.olin)

4
8

In [19]:
print(bikeshare.wellesley, bikeshare.olin)

4 8

In [20]:
def bike_to_wellesley():
  print('movendo uma bike para Wellesley')
  bikeshare.olin -= 1
  bikeshare.wellesley += 1

In [21]:
def bike_to_olin():
  print('movendo uma bike para Olin')
  bikeshare.wellesley -= 1
  bikeshare.olin += 1

In [22]:
bike_to_olin()

movendo uma bike para Olin

In [23]:
bike_to_wellesley()

movendo uma bike para Wellesley

In [24]:
bikeshare

olin         8
wellesley    4
dtype: int64

## If

In [45]:
flip(0.7) # gera aleatoriamente "True" ou "False", neste caso: (flip) com 70% de chance de "True"; ou, (flop) para 30% de "False".

True

In [55]:
# Um exemplo de uso
if flip(0.5):
  print("cara")
else:
  print("coroa")

cara

Veja:

Se um estudante sai de Olin para Wellesley a cada 2 minutos, a probabilidade de em um minuto particular partir um estudante nesse sentido é de 0.5; e sai um estudante de Wellesley para Olin a cada 3 minutos, então a probabilidade num dado minuto de sair um estudante é de 0.33. Vamos modelar isso:

In [59]:
if flip(0.5):
  bike_to_wellesley()

movendo uma bike para Wellesley

In [60]:
if flip(0.33):
  bike_to_olin()

Vamos modelar o que pode ocorrer num minuto particular (um passo do modelo):

In [76]:
def step():
  if flip(0.5):
    bike_to_wellesley()
  if flip(0.33):
    bike_to_olin()

In [78]:
step()

movendo uma bike para Wellesley

In [79]:
bikeshare

olin         5
wellesley    7
dtype: int64

## Parâmetros e argumentos

In [81]:
def step(p1, p2): # p1 e p2 são parâmetros da função
  if flip(p1):
    bike_to_wellesley()
  
  if flip(p2):
    bike_to_olin()

In [84]:
step(0.5, 0.33) # 0.5 e 0.33 são argumentos

movendo uma bike para Wellesley
movendo uma bike para Olin

## For